#dash-main-layout {
  /* border:solid 1px red; */
  flex: 7;
  height: auto;
  overflow: hidden;
}
#dashboard-navigator {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin-top: 1rem;
  border-bottom: 0.7px solid rgb(212, 201, 201);
}

#dashboard-navigator > span {
  /* border: 1px solid red; */
  padding: 0.9rem;
  font-weight: 600;
  color: rgb(56, 54, 54);
  font-size: 17px;
  padding-bottom: 2rem;
  border-bottom: 3px solid transparent; /* Initial transparent border */
  transition: border-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#dashboard-navigator > span:hover {
  color: rgb(66, 58, 233);
}
